body {background-color: rgb(0, 0, 0);
}
h1 {color: rgb(40, 95, 3);
text-align: center;
}
h2 {color: rgb(2, 105, 2);
}
h3 {color: rgb(70, 158, 12);
    text-align: center;
}
#imagem {width: 50%;
         margin-left: 20%;
         border
}
#imagem{margin-top:10%;
}
